* {
    margin: 0;
    border: 0;
    padding: 0;
}

/*---------------h1 styles--------------*/

.title {
    text-indent: -9000px;
    position: absolute;
}

.menu-title {
    font-family: 'Great Vibes', cursive;
    font-size: 2.5em;
    text-align: center;
    padding-top: 20px;
}

.section-titles {
    font-family: 'Great Vibes', cursive;
    color: #630f0f;
}

.contact-title {
    font-family: 'Trochut', cursive;
    padding-left: 5px;
    padding-right: 5px;
}

/*---------------------------------------*/

/*------------h2 style-------------------*/
h2 {
    font-family: 'Merriweather', serif;
}

/*---------------h3 styles---------------*/

h3 {
    font-family: 'Merriweather', serif;
    font-style: italic;
    font-weight: 300;
    font-size: 1em;
}

/*---------------------------------------*/

/*---------------p styles----------------*/
p {
    font-family: 'Merriweather', serif;
    margin-bottom: 5px;
}

.happy-hour {
    font-family: 'Merriweather', serif;
    font-weight: 300;
}

.happy-hour-title {
    color: #630f0f;
    font-style: italic;
}

.normal-text {
    font-family: 'Merriweather', serif;
    color: black;
    font-style: normal;
}

.drink-types {
    font-family: 'Trochut', cursive;
    font-size: 1.5em;
}

.featured-gallery {
    font-style: italic;
    font-family: 'Merriweather', serif;
    color: black;
    margin-bottom: 30px;
}



/*---------------------------------------*/

/*----------------Header-----------------*/

header {
    background-color: #630f0f;
}

.logo {
    text-align: center;
}

.logo img {
    padding-top: 65px;
    margin-bottom: 30px;
}

img {
    max-width: 100%;
}

nav {
    text-align: center;
    margin-top: 30px;
    background-color: black;
    padding-top: .02em;
    padding-bottom: .02em;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 30px;
    font-family: 'Merriweather', serif;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    border-top: #630f0f solid;
    border-bottom: #630f0f solid;
}
/*---------------------------------------*/

/*------------Content--------------------*/

#slider1_container {
    position: relative;
    top: 0px;
    left: 0px;
    width: 600px;
    height: 300px;
    overflow: hidden;
    border-bottom: solid #630f0f;
}


.specials {
    text-align: center;
    background-color: #e8e9db;
    padding-top: 5px;
    padding-bottom: 5px;
}

.menu-items {
    text-align: center;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.appetizers, .entrees, .desserts, .drinks {
    margin-top: 50px;
    border: solid #451b10;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    box-shadow: 1px 1px 1px 1px #b2b2b2;

}
/*---------------------------------------*/

/*------------Fancybox-------------------*/
.fancybox img {
    max-width: 100%;
    text-align: center;
}

.galleria {
    text-align: center;
    padding-top: 70px;
    margin-top: 0;

}

.gusteau-favorites {
    margin-bottom: 90px;
}

.gusteau-favorite-desserts {
    padding-top: 20px;
    margin-bottom: 90px;

}

.gusteau-chefs {
    padding-top: 20px;
    margin-bottom: 200px;
}

.map {
    text-align: center;
    padding-top: 50px;
    margin-bottom: 30px;
}

.location, .hours {
    text-align: left;
    padding-left: 10px;
    color: #630f0f;
    float: left;
    overflow: hidden;
}

.hours {
    margin-bottom: 100px;
    margin-left: 30px;
}

.location {
    margin-left: 30px;
}

.location ul, .hours ul {
    list-style-type: none;
}

.location ul li, .hours ul li {
    font-size: 1.1em;
    font-family: 'Merriweather', cursive;
    text-align: left;
}
/*-------------------------------------*/

/*----------------Footer---------------*/

footer {
    background-color: black;
    color: white;
    height: 300px;
    margin-top: 50px;
    padding-top: 20px;
    clear: both;
    overflow: hidden;
}


.awards ul {
    list-style-type: none;
}

.awards ul li {
    display: block;
    font-family: 'Merriweather', serif;
}

.social-media {
    text-align: center;
    padding-top: 15px;
}

.social-media ul {
    list-style-type: none;
}

.social-media ul li {
    display: inline;
}

.social-media img {
    max-width: 10%;
    background-color: white;
    margin-right: 5px;
}

 .reservations p a {
    color: #630f0f;
}
/*---------------------------------------*/


/*-----------------------Media Queries---------------------------------*/

/*---------------Phone-------------------*/
@media (min-width: 320px) {
    .featured-gallery {
        padding-left: 15px;
        padding-right: 15px;
    }

    header {
        border-bottom: black solid;
    }

    nav ul li {
        font-size: .9em;
    }

    .logo img {
        max-width: 40%;
    }

    .awards ul li {
        font-size: .8em;
    }

    footer {
        text-align: center;
    }

    .awards ul, .social-media ul {
        margin-left: -40px;
    }

    .reservations {
        font-size: .8em;
        padding-top: 20px;
    }



}

/*-------------Tablet----------------------*/
@media (min-width: 580px)  {
    header {
        border-bottom: none;
    }

    .logo img {
        margin-left: 15px;
    }

    nav ul li {
        font-size: 1.3em;
        margin-left: 15px;
    }

    #slider1_container {
        margin-top: 0;
    }

    .appetizers, .entrees, .desserts, .drinks {
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 50px;
        margin-left: 40px;
        margin-right: 40px;
    }

    .gusteau-favorites img, .gusteau-favorite-desserts img, .gusteau-chefs img {
        max-width: 40%;
    }

    .social-media img {
        max-width: 6%;
        margin-right: 10px;
    }
}

/*@media (min-width: 700px)  {
    .logo img {
        max-width: 33%;
    }

    .location {
        margin-left: 100px;
    }

    .hours {
        margin-left: 90px;
    }

    nav ul li {
        margin-right: 40px;
        font-size: 1.2em;
    }

    .location {
        margin-left: 80px;
    }
}
*/


/*--------------------Desktop-------------------*/
@media (min-width: 850px) {
    .appetizers, .entrees, .desserts, .drinks {
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 50px;
        margin-left: 220px;
        margin-right: 220px;
    }

    main {
        margin-bottom: 200px;
    }

    .gusteau-favorites img, .gusteau-favorite-desserts img {
        max-width: 30%;
    }

    .awards ul li {
        font-size: 1em;
    }

    .reservations {
        padding-top: 5px;
    }

    .reservations p {
        font-size: 1.1em;
    }

    .social-media img {
    max-width: 4%;
}

@media (min-width: 1129px) {
    .logo img {
        max-width: 30%;
    }

    .appetizers, .entrees, .desserts, .drinks {
        margin-left: 320px;
        margin-right: 320px;
    }

    nav ul li {
        font-size: 1.8em;
        margin-left: 20px;
    }

    .menu-title {
    font-size: 3.2em;
    }

    .gusteau-chefs img {
        max-width: 22%;
    }

    .social-media img {
        max-width: 3%;
    }


}





