* {
    margin: 0;
    border: 0;
    padding: 0;
}

/*---------------h1 styles----------------*/

.title {
    text-indent: -9000px;
    position: absolute;
}

/*---------------------------------------*/

header {
    background-color: #630f0f;
}

.logo {
    text-align: center;
}

.logo img {
    padding-top: 65px;
    margin-bottom: 20px;
}

img {
    max-width: 100%;
}

nav {
    text-align: center;
    margin-top: 30px;
    background-color: black;
    padding-top: .02em;
    padding-bottom: .02em;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 25px;
    font-family: 'Merriweather', serif;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

#slider1_container {
    position: relative;
    top: 0px;
    left: 0px;
    width: 600px;
    height: 300px;
    overflow: hidden;
    border-bottom: solid #630f0f;
}






/*-----------------------Media Queries---------------------------------*/

/*---------------Phone------------------*/
@media (min-width: 320px) {
    nav ul li {
    font-size: 1em;
    }

    .logo img {
        max-width: 45%;
    }

}

